// Imports
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

// Font variables
$primaryFont: "Quicksand", sans-serif;
$secondaryFont: "Raleway", sans-serif;

// Color pallets
$text-gray-50: rgba(249, 250, 251, 1);
$text-gray-100: rgba(243, 244, 246, 1);
$text-gray-200: rgba(229, 231, 235, 1);
$text-gray-300: rgba(212, 212, 216, 1);
$text-gray-400: rgba(161, 161, 170, 1);
$text-gray-500: rgba(107, 114, 128, 1);
$text-gray-700: rgba(55, 65, 81, 1);
$text-gray-900: rgba(17, 24, 39, 1);

$theme-color : #6366F1;